/* 
=====================================
=====================================
              GENERAL
=====================================
=====================================
*/

/* RESET
============================================= */

h1,
h2,
h3,
h4,
h5,
h6,
ul,
li,
a,
p,
span {
  padding: 0;
  margin: 0;
  user-select: none;
}

/* BODY
============================================= */
body {
  font-family: "Encode Sans Condensed", sans-serif;
  background-color: #eee;
}

/* LI
============================================= */
.item {
  list-style: none;
}

/* A HREF
============================================= */
.link {
  text-decoration: none;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.title {
  padding-bottom: 20px;
  color: #212121;
}