.form__item {
  display: flex;
  gap: 50px;
}

.form__list {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.wrapper__amount {
  display: flex;
}

.box__amount {
    display: flex;
    flex-direction: column;
}
