.header {
  /* main header container 
  ============================*/
  display: flex;
  padding: 15px;
  align-items: center;
  height: 50px;
  &__logo {
    /* logo
    ============================*/
    font-size: 2.2em;
  }
  &__navigation {
    /* navigation
    ============================*/
    display: none;
  }
  &__list {
    /* navigation list
    ============================*/
    display: flex;
    gap: 2em;
  }
  &__link {
    /* navigation link
    ============================*/
    color: inherit;
    font-size: 20px;
  }
}
