.buttons {
  padding: 20px 0;
}

.invoices {
  background-color: white;
  display: flex;
  gap: 30px;
  justify-content: center;
  flex-direction: column;
  padding: 80px;
  &__section {
    /* invoices section */
    display: flex;
    gap: 10px;
    flex-direction: column;
  }
}

/*
==================================
WRAPPER WITH ONE INPUT AND DIV
==================================
*/
