.page {
  @include flex__column();
  gap: 20px;
  padding: 15px;
}
/*
  Invoices container
=============================*/
.invoices {
  @include flex__column();
  gap: 25px;
}
/*
  Buttons page
=============================*/
.buttons {
  &__list {
    display: flex;
    justify-content: center;
  }
  .button {
    width: 145px;
    height: 38px;
    background: #f5f4fa;
    border: 1px solid #212121;

    /* text */
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 162%;
    /* identical to box height, or 162% */

    text-align: center;
    letter-spacing: 0.03em;
    &--first {
      border-radius: 4px 0 0 4px;
    }
    &--second {
      border-radius: 0 4px 4px 0;
    }
  }
}
.wrapper {
  max-width: 385px;
  margin-left: auto;
  margin-right: auto;
}
.section {
  @include flex__column();
  gap: 20px;
  padding: 0 15px;
}
.container {
  @include flex__column();
  gap: 40px;
}
.form {
  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    &--rate {
      display: flex;
    }
    &--amount {
      @include flex__column();
      align-content: flex-end;
      padding: 10px 0;
      border-top: 1px solid gray;
    }
  }
  &__item {
    @include flex__column();
    gap: 5px;
    &--rate {
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      gap: 5px;
    }
    &--amount {
      flex-direction: row;
    }
  }
  &__text--amount {
    margin-left: auto;
  }
  &__checkbox {
    width: 20px;
    height: 20px;
    margin-left: 0;
  }
}
