@mixin flex__column() {
  display: flex;
  flex-direction: column;
}

.page {
  @include flex__column();

  gap: 20px;
}

/*
  Buttons page
=============================*/
.buttons {
  position: fixed;
  height: 35px;
}
.buttons__list {
  display: flex;
}

.invoices {
  /* 100vh - height from header */
  // height: calc(100vh - 50px);
  
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
}
/*
  Class section from invoices
=============================*/

.section {
  padding: 50px 0; 
  @include flex__column();
  height: calc(100vh - 50px);
  width: 100%;
  gap: 20px;
}
.form {
  &__list {
    @include flex__column();
    gap: 15px;
  }

  &__item {
    @include flex__column();
    gap: 5px;
  }
}

/*
  Inputs
=============================*/
.form__input {
  height: 35px;
}

/*
  Buttons
=============================*/
.button {
  width: 80px;
  height: 35px;
  border: 1px solid gray;
  
  &--first {
    border-radius: 5px 0 0 5px ;
  }
  &--second {
    border-radius: 0 5px 5px 0 ;
  }
}